#uni {
	color: rgb(48, 76, 112);
	margin-left: -5px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbar {
	background-color: rgb(116, 144, 196) !important;
}

.btn-color {
	color: #304c70 !important;
	border: 2px solid #304c70;
	opacity: 0.8;
  transition: 0.8s;
}

.btn-color:hover{
	color: aliceblue !important;
	background-color: #304c70;
	border: #304c70 !important;
	opacity: 1 !important;
}

.btn-color1 {
	color: #ffffff !important;
	background-color: #304c70 !important;
	border: 2px solid #304c70;
	opacity: 1;
  transition: 0.8s;
}

.btn-color1:hover{
	color: #304c70 !important;
	background-color: aliceblue !important;
	border: 2px solid #304c70 !important;
	opacity: 1 !important;
}

.btn-color2 {
	color: #ffffff !important;
	border: 2px solid #304c70;
	background-color: #304c70;
	opacity: 1;
  transition: 0.8s;
	padding: 4px 8px;
	width: 72px;
	height: 33px;
}

.btn-color2:hover{
	color: #304c70 !important;
	background-color: aliceblue;
	border: 2px solid #304c70 !important;
	opacity: 1 !important;
}

#spin{
	color: #304c70 !important;
	height: 750px;
	
}

@media (max-width: 700px) {
	#spin {
		height: 400px !important;
	}
}

.bg-card {
	background-color: rgb(116, 144, 196)  !important; 
}